<script context="module">
  export async function preload({ params }) {
    // the `slug` parameter is available because
    // this file is called [slug].svelte
    const url = "https://dev.telehost.ng/api/ussd";
    // console.log(params);
    const { slug } = params;

    const res = await this.fetch(`${url}/${slug}`);
    const data = await res.json();

    if (res.status === 200) {
        // console.log(data)
    
      return { ussd: data.data };
    } else {
      // this.error(res.status, data.message);
    }
  }
</script>

<script>
  import Retry from "./_retry.svelte";

  export let slug = null;
  export let ussd;
 

 
</script>



<Retry data={ussd}/>
