<script>
  import { onMount } from "svelte";
  // import toastr from 'toastr'
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import { scale } from "svelte/transition";
  import { isEmpty } from "../../helpers/validation.js";
  import Loader from "../_loader.svelte";
  import {
    url,
    header,
    GET_USSD,
    GET_RESPONSE,
    GET_USSD_PAGE,
    CHECK_AUTH
  } from "../config.js";
  import swal from "sweetalert";

  let isLoading = true;
  let isLoadingMini = false;
  let ussd = [];
  let response = [];
  let current_page;
  let last_page;
  let total;

  $: current_page;
  $: ussd;

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    // GET_USSD(user.token).then(res => (ussd = res.data));
    GET_USSD(user.token).then(res => {
      ussd = res.data.data;
      current_page = res.data.current_page;
      last_page = res.data.last_page;
      
      // console.log(current_page)
      // console.log(last_page)
      // console.log(res.data.data)
    });
    GET_RESPONSE(user.token).then(res => {

      response = res.data;
      setTimeout(() => {
        isLoading = false;
      }, 1000);

      setTimeout(() => {
        jQuery(document).ready(function($) {
          $("#example").DataTable({
            order: [[2, "desc"]],
            destroy: true
          });
        });
      }, 1000);
    });

  });

  function retryUssd(code){
    console.log(code);
  }

  function sortPage() {

    isLoadingMini = true;
    ussd = [];
    const user = JSON.parse(localStorage.getItem("currentUser"));
   
    GET_USSD_PAGE(user.token,current_page).then(res => {
       setTimeout(() => {
        isLoadingMini = false;
      }, 1000);
      ussd = res.data.data;
      current_page = res.data.current_page;
      last_page = res.data.last_page;
      
      
    });
    

  }


</script>

<style>
  .alert {
    margin: 20px 30px;
  }
  .change-size {
    font-size: 10px !important;
    /* width: 500px !important; */
  }
  input {
    font-size: 10px !important;
    width: 500px !important;
  }
  /* .compress {
    text-align: left !important;
    border: 0px none;
  } */
</style>

<svelte:head>
  <title>USSD - Telehost</title>
</svelte:head>

{#if isLoading}
  <Loader />
{:else}
  <div class="main-panel" transition:scale>
    <div class="content-wrapper">
      <div class="row purchace-popup">
        <div class="col-12" />
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Ussd Count</h4>
              Current Page: {current_page}
              <div class="form-group">
                <select class="form-control" name="sort" on:change={sortPage} bind:value={current_page}>
                    <option value="1">Page  1</option>
                    <option value="2">Page  2</option>
                    <option value="3">Page  3</option>
                    <option value="4">Page  4</option>
                    <option value="5">Page  5</option>
                    <option value="6">Page  6</option>
                    <option value="7">Page  7</option>
                    <option value="8">Page  8</option>
                    <option value="9">Page  9</option>
                    <option value="10">Page  10</option>
                    <option value="11">Page  11</option>
                    <option value="12">Page  12</option>
                    <option value="13">Page  13</option>
                </select>
              </div>
            </div>

            <div class="card-body">
              <div class="table-responsive">
               {#if isLoadingMini}
                <p>Loading...</p>
              {:else}
               <table id="example" class="table display" style="width:100%">
                  <thead>
                    <tr>
                      <!-- <th>Ref Code</th> -->
                      <th>Request</th>
                      <th>Response</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {#if Array.isArray(ussd)}
                      {#each ussd as item}
                        <tr>
                          <!-- <td class="text-uppercase">{item.ref_code}</td> -->
                          <td class="change-size">{item.code_dialed}</td>
                          <td>
                            {#each response as res}
                              {#if item.ref_code === res.ref_code}
                                <!-- <input
                                  class="compress align-text-left"
                                  disabled={true}
                                  cols="20"
                                  rows="10">
                                  value={res.message}
                                /> -->
                                <input type="text" value={res.message} />
                                {#if res.message  == 'Request Failed'}
                                  <a href={`https://dev.telehost.ng/api/retry-ussd/${res.ref_code}`} on:click|once class="btn btn-danger btn-xs" target="_blank">Retry</a>
                                {/if}
                              {/if}
                            {/each}
                          </td>

                          <td class="change-size">
                            <span>Request </span>{item.created_at}
                            <br>
                            {#each response as res}
                              {#if item.ref_code === res.ref_code}
                               <span>Response </span>{res.created_at}
                              {/if}
                            {/each}
                          </td>
                        </tr>
                      {/each}
                    {:else}
                      <div class="alert alert-dark btn-block">
                        <p>No SMS Found</p>
                      </div>
                    {/if}
                  </tbody>

                </table>

               {/if}
              </div>
            </div>

          </div>
        </div>

        <!--row-->
      </div>

    </div>
    <!-- content-wrapper ends -->

  </div>
{/if}
