<script>
  import { scale } from "svelte/transition";
  import { onMount } from "svelte";
  import { url, GET_DEVICES, header, buy } from "./../config.js";
  import axios from "axios";
  import { goto } from "@sapper/app";

  export let data = null;
  let devices = [];
  let device = null;
  let code = "";

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    GET_DEVICES(user.token)
      .then(res => {
        devices = res;
        console.log(res);
      })
      .catch(err => console.log(err));
  });

  $: if (data != null) {
    if (data === "Not Found") {
      goto("/ussd");
    }
    // console.log(data);
  } else {
    goto("/ussd");
  }

  function RetryUssd() {
    const retryData = {
      ref_code: data.ref_code,
      ussd_code: data.code_dialed,
      access_code: code
    };
    const user = JSON.parse(localStorage.getItem("currentUser"));

    axios
      .post(`${url}/retry-ussd`, data, { headers: 
        {
        'Authorization': `${user.user.api_key}`,
        'Content-Type': 'application/json'
        }
      })
      .then(res => {
        console.log(res);
        goto("/ussd");
      })
      .catch(err => {
        // console.log(err);
      });
    // console.log(retryData);
  }
</script>


<style>
  .tabs {
    background: #2980b9;
    width: 100%;
    padding: 20px 15px;
    color: #fff;
    display: flex;
  }
</style>

<svelte:head>
  <title>Retry Ussd</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-md-3" />
      <div class="col-md-6">
        <div class="card">
          <p class="tabs">Retry Ussd</p>
          <form on:submit|preventDefault={RetryUssd}>

            <div class="card-body">

              <ul>
                <li>Ref Code: {data.ref_code}</li>
                <li>Code Dialed: {data.code_dialed}</li>
                <li>
                  Status:
                  <label class="label label-danger">Failed</label>
                </li>
              </ul>

              <div class="form-group">
                <label>Devices Access Code</label>
                <select class="form-control" name="device" bind:value={code}>
                <option > -- Select Device --</option>
                  {#each devices as device}
                    <option value={device.access_code}>
                      {device.device_name}
                    </option>
                  {/each}
                </select>

              </div>
              <div class="form-group">
                <button class="btn btn-success btn-block">Retry</button>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="col-md-3" />
      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
