<script>
  import { onMount } from "svelte";
  import { scale } from "svelte/transition";
  import { url, header, GET_USERS, CHECK_AUTH } from ".././api.js";
  import swal from "sweetalert";

  let users = [];

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    GET_USERS(user.token).then(res => {
      users = res.data;
      console.log(users);
    });
    setTimeout(() => {
      jQuery(document).ready(function($) {
        $("#users").DataTable({
          destroy: true,
          order: [[3, "desc"]]
        });
      });
    }, 3000);
      // console.table(users);
  });

</script>

<style>
  .alert {
    margin: 20px 30px;
  }
</style>

<svelte:head>
  <title>Telehost Users</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Telehost Users</h4>

          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="users" class="table display" style="width:100%">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Api Key</th>
                    <th>Web Hook</th>
                    <th>Verifed</th>
                    <th>Status</th>
                    <th>Country</th>
                  </tr>
                </thead>
                <tbody>
                  {#if Array.isArray(users)}
                    {#each users as user}
                      <tr>
                        <td>{`${user.firstname} ${user.lastname}`}</td>
                        <td>{user.email}</td>
                        <td>{user.phone_num}</td>
                        <td>{user.api_key}</td>
                        <td>{user.webhook}</td>
                        <td>
                          {#if user.verifed === 1}
                          <label class="badge badge-success">True</label>
                          {:else}
                            <label class="badge badge-danger">False</label>
                          {/if}
                        </td>
                        <td>
                          {#if user.status === 1}
                          <label class="badge badge-success">Active</label>
                          {:else}
                            <label class="badge badge-danger">Deactivated</label>
                          {/if}
                        </td>
                        <td>{user.country}</td>
                      </tr>
                    {/each}
                  {:else}
                    <div class="alert alert-dark btn-block">
                      <p>No Users Found</p>
                    </div>
                  {/if}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
