<script>
  export let timer = null;
  let notLoading = false;

  if (timer !== null) {
    setTimeout(() => {
      notLoading = !notLoading;
    }, timer);
  }
</script>

<style>
  .wrapper {
    position: absolute;
    top: 50%;
    /* left: 20%; */
    transform: translate(-50%, -50%);
    /* background-image: linear-gradient(-120deg -120deg, black, white); */
  }


  .wrapper img {
    /* -webkit-animation: jump 2s ; */
    animation: pop 0.6s ease 0s infinite alternate forwards running;
    /* background: #292ce2; */
  }

  

  @keyframes pop {
    0% {
      transition: all 0.5s ease-in-out;
      /* top: 2px; */
      transform: scale(0.8, 0.8);
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  @media only screen and (min-width: 280px) and (max-width: 565px) {
    .wrapper img {
      /* width: 30px; */
      height: 100px;
      margin-left: 350px;

    }
  }
  @media only screen and (min-width: 1250px) and (max-width: 1500px) {
    .wrapper {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      /* background-image: linear-gradient(-120deg -120deg, black, white); */
    }
  }
</style>

{#if !notLoading}
    <div class="wrapper">
     <img src="images/logo.svg" width="600px" height="300px" alt="logo" />
    </div>
  

{/if}
