<script>
  // import $ from "jquery";
  import User from ".././store.js";
  import { goto } from "@sapper/app";
  import { onMount, onDestroy } from "svelte";
  import axios from "axios";
  import { url, header, CHECK_AUTH } from "./config.js";
  import Loader from "./_fulloader.svelte";
  import Navbar from "../components/UI/Navbar.svelte";

  export let segment;
  let path;

  let isLoggedIn = false;
  let token = null;
  let user;
  let isLoading = true;

  $: isLoggedIn;
  $: token;
  $: user;
  $: $User;

  onMount(() => {
    if (localStorage.currentUser) {
      user = JSON.parse(localStorage.getItem("currentUser"));
      token = user.token;
      const me = [];
      me.push({ ...user.user, wallet: user.wallet, token: user.token });
      User.setUser(...me);
    }

    if (token != null) {
      path = window.location.pathname;
      if (path === "/admin") {
        segment = "admin";
      }
      isLoggedIn = true;
      setTimeout(() => {
        isLoading = false;
      }, 1000);
    } else {
      isLoggedIn = false;
      setTimeout(() => {
        isLoading = false;
      }, 1000);
      goto("/login");
    }

    CHECK_AUTH(token);
  });

  function logout() {
    isLoggedIn = false;
    localStorage.removeItem("currentUser");
    goto("/login");
    isLoading = true;

    setTimeout(() => {
      isLoading = false;
    }, 5000);
  }

  function toggle() {
    var el = document.querySelector(".sidebar-offcanvas");
    el.classList.toggle("active");
  }
</script>

<style>
  .active {
    display: block;
  }
  .not-active {
    display: none;
  }
  .navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    width: 200px;
    height: 100px !important;
  }
</style>

<svelte:head>
  {#if !isLoggedIn}
    <title>TeleHost</title>
  {/if}
</svelte:head>

{#if isLoading}
  <Loader />
{:else if isLoggedIn}
  <main class={isLoggedIn ? 'active' : 'not-active'}>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex
        flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-top
          justify-content-center">
          <a class="navbar-brand brand-logo" href="/">
            <img
              src="images/logo.svg"
              width="400px"
              height="100px"
              alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img
              src="images/logo-mini.svg"
              style="width: 200px !important; height: 100px !important;
              margin-top: -20px;"
              alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">

          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="UserDropdown"
                href="."
                on:click|preventDefault
                data-toggle="dropdown"
                aria-expanded="false">
                <span class="profile-text">
                 {#if segment != 'admin'}
                  Hello, {`${$User.firstname} ${$User.lastname}`} !
                  {:else}
                     Administrator, {`${$User.firstname} ${$User.lastname}`} !
                  {/if}
                </span>

              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="UserDropdown">
                <a href="." on:click|preventDefault class="dropdown-item p-0">
                  <div class="d-flex border-bottom">
                    <div
                      class="py-3 px-4 d-flex align-items-center
                      justify-content-center">
                      <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray" />
                    </div>
                    <div
                      class="py-3 px-4 d-flex align-items-center
                      justify-content-center border-left border-right">
                      <i class="mdi mdi-account-outline mr-0 text-gray" />
                    </div>
                    <div
                      class="py-3 px-4 d-flex align-items-center
                      justify-content-center">
                      <i class="mdi mdi-alarm-check mr-0 text-gray" />
                    </div>
                  </div>
                </a>
                <a href="." on:click|preventDefault class="dropdown-item mt-2">
                  Manage Accounts
                </a>
                <a href="." on:click|preventDefault class="dropdown-item">
                  Change Password
                </a>
                <a href="." on:click|preventDefault class="dropdown-item">
                  Check Inbox
                </a>
                <a
                  href="."
                  on:click|preventDefault={logout}
                  class="dropdown-item">
                  Sign Out
                </a>
              </div>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none
            align-self-center"
            type="button"
            on:click={toggle}
            data-toggle="offcanvas">
            <span class="mdi mdi-menu" />
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <div class="nav-link" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="menu-icon mdi mdi-television" />
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="#ui-basic"
                aria-expanded="false"
                aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-content-copy" />
                <span class="menu-title">Collections</span>
                <i class="menu-arrow" />
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/sms">SMS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ussd">USSD</a>
                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/buy-airtime">
                <i class="menu-icon mdi mdi-television" />
                <span class="menu-title">Quick Recharge</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fund-wallet">
                <i class="menu-icon mdi mdi-television" />
                <span class="menu-title">Fund Wallet</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/transactions">
                <i class="menu-icon mdi mdi-television" />
                <span class="menu-title">Transactions</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="#ui-account"
                aria-expanded="false"
                aria-controls="ui-account">
                <i class="menu-icon mdi mdi-content-copy" />
                <span class="menu-title">Accounts</span>
                <i class="menu-arrow" />
              </a>
              <div class="collapse" id="ui-account">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/my-account">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="."
                      on:click|preventDefault={logout}>
                      LogOut
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            {#if segment === 'admin'}
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#admin-panel"
                  aria-expanded="false"
                  aria-controls="admin-panel">
                  <i class="menu-icon mdi mdi-content-copy" />
                  <span class="menu-title">Administrator Managment</span>
                  <i class="menu-arrow" />
                </a>
                <div class="collapse" id="admin-panel">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/users">Manage Users</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ussd">USSD</a>
                    </li>

                  </ul>
                </div>
              </li>
            {/if}
          </ul>
        </nav>
        <!-- partial -->
        <slot />

        <!-- partial:partials/_footer.html -->

        <!-- partial -->
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </main>
{:else}
  <main>
    <slot />
  </main>
{/if}
