<script>
  export let timer = null;
  let notLoading = false;

  if (timer !== null) {
    setTimeout(() => {
      notLoading = !notLoading;
    }, timer);
  }
</script>

<style>
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: linear-gradient(-120deg -120deg, black, white); */
  }

  .wrapper div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
    justify-content: space-evenly;
    position: relative;
    transition: all 0.5s ease-in-out;
    background: #55b6ef;
    /*opacity: 0.6;*/
  }

  .wrapper div:nth-child(1) {
    /* -webkit-animation: jump 2s ; */
    animation: pop 0.6s ease 0s infinite alternate forwards running;
    /* background: #292ce2; */
  }

  .wrapper div:nth-child(2) {
    /* background: #cc3fc2; */
    animation: pop 0.7s ease 0s infinite alternate forwards running;
  }

  .wrapper div:nth-child(3) {
    /* background: #10c227; */
    animation: pop 0.8s ease 0s infinite alternate forwards running;
  }

  @keyframes pop {
    0% {
      transition: all 0.5s ease-in-out;
      /* top: 2px; */
      transform: scale(0.8, 0.8);
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  @media only screen and (min-width: 280px) and (max-width: 565px) {
    .wrapper div {
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (min-width: 1250px) and (max-width: 1500px) {
    .wrapper {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      /* background-image: linear-gradient(-120deg -120deg, black, white); */
    }
  }
</style>

{#if !notLoading}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="wrapper">
        <div />
        <div />
        <div />
      </div>
    </div>
  </div>
{/if}
