<script>
  import { scale } from "svelte/transition";
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header, CHECK_AUTH } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";
  import { onMount } from "svelte";
  import Loader from "./../_loader.svelte";
  import swal from "sweetalert";

  let userData = [];
  let wallet = [];
  let transition = [];
  let devices = [];
  let isLoading = true;

  let oldpassword = "";
  let newpassword = "";
  let confirmpassword = "";
  let webhookInput = "";
  let switcher = "profile";

  $: oldValid = !isEmpty(oldpassword);
  $: newValid = !isEmpty(newpassword);
  $: conValid = !isEmpty(confirmpassword);

  $: webhookValid = !isEmpty(webhookInput);

  $: valid = oldValid && newValid && conValid;

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    axios(`${url}/auth/profile`, { headers: header(user.token) })
      .then(res => {
        userData = res.data.user;
        wallet = res.data.wallet;
        transition = res.data.transitions;
        devices = res.data.devices;
        // console.log(devices)
        setTimeout(() => {
          isLoading = false;
          // console.log(userData);
        }, 1000);
      })
      .catch(err => {
        // console.log(err.message);
      });
  });

  function passwordUp() {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    const data = {
      password: oldpassword,
      newpassword,
      confirmpassword
    };

    if (newpassword != confirmpassword) {
      swal({ text: "New Password & Confirm Password No Match", icon: "error" });
      // toastr.info("New Password & Confirm Password No Match");
    } else {
      axios
        .post(`${url}/auth/change-paasword`, data, {
          headers: header(user.token)
        })
        .then(res => {
          // console.log(res.data.message);
          oldpassword = "";
          newpassword = "";
          confirmpassword = "";
          switcher = "profile";
          if (res.data.status === "error") {
            swal({ text: res.data.message, icon: "error" });
          } else {
            swal({ text: res.data.message, icon: "success" });
          }
        })
        .catch(err => {
          // console.log(err.message);
        });
    }
  }

  function webhook() {
    const data = { webhook: webhookInput };
    const user = JSON.parse(localStorage.getItem("currentUser"));
    axios
      .post(`${url}/auth/addWebhook`, data, { headers: header(user.token) })
      .then(res => {
        swal({ text: res.data.message, icon: "success" });

        userData["webhook"] = webhookInput;
        // console.log(res.data);
      })
      .catch(err => {
        // console.log(err.message);
      });
    // console.log(webhookInput);
  }
</script>

<style>
  .tabs {
    background: #2980b9;
    width: 100%;
    display: flex;
  }

  .tabs li {
    display: inline-block;
    margin: 30px 15px;
  }

  .tabs li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: all 0.8s ease-in-out;
  }

  .tabs .tab-active {
    transition: all 0.6s ease-in;
    border-bottom: 1px solid #fff !important;
  }

  .btn-dark {
    background: #2980b9;
    border-color: #2980b9;
  }

  .card-title {
    font-size: 16px;
  }

  @media only screen and (min-width: 280px) and (max-width: 565px) {
    .tabs {
      background: #2980b9;
      width: 100%;
      display: block;
    }
    .tabs li {
      display: inline-block;
      margin: 10px 5px;
    }
  }
</style>

<svelte:head>
  <title>Accounts - Company Name</title>
</svelte:head>

{#if !isLoading}
  <div class="main-panel" transition:scale>
    <div class="content-wrapper">
      <div class="row purchace-popup">
        <div class="col-12" />
      </div>
      <div class="row">
        <div class="col-md-2" />
        <div class="col-md-8">
          <div class="card">
            <ul class="tabs">
              <li class={switcher === 'profile' ? 'tab-active' : ''}>
                <a
                  href="."
                  on:click|preventDefault={() => (switcher = 'profile')}>
                  Profile
                </a>
              </li>
              <li class={switcher === 'webhook' ? 'tab-active' : ''}>
                <a
                  href="."
                  on:click|preventDefault={() => (switcher = 'webhook')}>
                  Webhook
                </a>
              </li>
              <li class={switcher === 'api' ? 'tab-active' : ''}>
                <a href="." on:click|preventDefault={() => (switcher = 'api')}>
                  Api Key
                </a>
              </li>
              <li class={switcher === 'devices' ? 'tab-active' : ''}>
                <a
                  href="."
                  on:click|preventDefault={() => (switcher = 'devices')}>
                  Devices
                </a>
              </li>
              <li class={switcher === 'security' ? 'tab-active' : ''}>
                <a
                  href="."
                  on:click|preventDefault={() => (switcher = 'security')}>
                  Security
                </a>
              </li>
            </ul>
            <div class="card-body">
              <!-- <h4 class="card-title">Profile</h4> -->
              {#if switcher === 'profile'}
                <form on:submit|preventDefault>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Firstname</label>
                    <input
                      type="text"
                      class="form-control"
                      value={userData['firstname']}
                      disabled={true} />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Lastname</label>
                    <input
                      type="text"
                      class="form-control"
                      value={userData['lastname']}
                      disabled={true} />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      value={userData['email']}
                      disabled={true} />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      value={userData['phone_num']}
                      disabled={true} />
                  </div>

                  <div class="form-group">
                    <button class="btn btn-dark btn-block" disabled={true}>
                      Update Profile
                    </button>
                  </div>

                </form>
              {:else if switcher === 'webhook'}
                {#if userData['webhook'] != '' || null}
                  <h2 class="card-title">Webhook</h2>
                  <p>{userData['webhook']}</p>
                  <a
                    href="."
                    on:click|preventDefault={() => (userData['webhook'] = '')}>
                    Edit
                  </a>
                {:else}
                  <form on:submit|preventDefault={webhook}>
                    <div class="form-group">
                      <label for="">Webhook</label>
                      <input
                        type="text"
                        class="form-control"
                        bind:value={webhookInput} />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-dark" disabled={!webhookValid}>
                        Update Hook
                      </button>
                    </div>
                  </form>
                {/if}
              {:else if switcher === 'api'}
                <h2 class="card-title">Developer Api Key</h2>
                <p>{userData['api_key']}</p>
              {:else if switcher === 'devices'}
                <h2 class="card-title">Devices</h2>
                <ul>
                  {#each devices as device}
                    <li>
                      Device Name: {device.device_name}
                      <br />
                      Access Token
                      <span>
                        <b>{device.access_code}</b>
                      </span>
                    </li>
                  {/each}

                </ul>
              {:else if switcher === 'security'}
                <form on:submit|preventDefault={passwordUp}>
                  <h2 class="card-title">Security</h2>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Old Password</label>
                    <input
                      type="password"
                      class="form-control"
                      bind:value={oldpassword} />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      bind:value={newpassword} />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">
                      Confirm Password
                    </label>
                    <input
                      type="password"
                      class="form-control"
                      bind:value={confirmpassword} />
                  </div>

                  <div class="form-group">
                    <button class="btn btn-dark btn-block" disabled={!valid}>
                      Change Password
                    </button>
                  </div>

                </form>
              {/if}

            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- content-wrapper ends -->

  </div>
{:else}
  <Loader timer="5000" />
{/if}
