<script>
  import User from "../.././store.js";
  import { goto } from "@sapper/app";
  import { onMount, onDestroy, beforeUpdate } from "svelte";
  import axios from "axios";
  import { url, header, CHECK_AUTH, IS_ADMIN } from "./saga.js";
  import Loader from ".././_fulloader.svelte";

  export let segment;

  let isLoggedIn = false;
  let token = null;
  let user;
  let isLoading = true;

  $: isLoggedIn;
  $: token;
  $: user;
  $: $User;

  beforeUpdate(() => {
    user = JSON.parse(localStorage.getItem("currentUser"));
    token = user.token;
    IS_ADMIN(user.token).then(res => {
      // console.log(res);
      if (res.message) {
      } else {
        isLoading = true;
        goto("/");
      }
    });
  });

  onMount(() => {
    if (localStorage.currentUser) {
      user = JSON.parse(localStorage.getItem("currentUser"));
      token = user.token;
      const me = [];
      me.push({ ...user.user, wallet: user.wallet, token: user.token });
      User.setUser(...me);
    }

    if (token != null) {
      isLoggedIn = true;
      setTimeout(() => {
        isLoading = false;
      }, 1000);
    } else {
      isLoggedIn = false;
      setTimeout(() => {
        isLoading = false;
      }, 1000);
      goto("/login");
    }

    CHECK_AUTH(token);
  });

  // onDestroy(() => {
  //   isLoggedIn = false;
  //   localStorage.removeItem("currentUser");
  //   isLoading = true;
  //   setTimeout(() => {
  //     window.location.reload();
  //     goto("/login");
  //     isLoading = false;
  //   }, 1000);
  // });

  function logout() {
    isLoggedIn = false;
    localStorage.removeItem("currentUser");
    isLoading = true;
    setTimeout(() => {
      window.location.reload();
      goto("/login");
      isLoading = false;
    }, 5000);
  }

  function toggle() {
    var el = document.querySelector(".sidebar-offcanvas");
    el.classList.toggle("active");
  }
</script>

<svelte:head>
  {#if !isLoggedIn}
    <title>Administrator</title>
  {/if}
</svelte:head>

{#if isLoading}
  <Loader />
{:else if isLoggedIn}
  <slot />
{/if}
