<script>
  import axios from "axios";
  import { onMount, beforeUpdate } from "svelte";
  import { CHECK_AUTH, IS_ADMIN } from "./saga.js";

  const user = JSON.parse(localStorage.getItem("currentUser"));
  CHECK_AUTH(user.token);
  IS_ADMIN(user.token).then(res => {

    if (res.message) {
     
    } 
  });

  onMount(() => {
    console.log("mounted");
  });

  beforeUpdate(() => {
    console.log("this before update");
  });
</script>

<div>
  <h2>Admin</h2>
</div>
