<script>
  import { scale } from "svelte/transition";
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";
  //   import Payant from 'node-payant'

  let amount = "";
  $: validAmount = !isEmpty(amount);
  $: valid = validAmount;

  function pay() {
    const user = JSON.parse(localStorage.getItem("currentUser"));

    //    let email = user.user.email;
    //    console.log(email)
    var handler = Payant.invoice({
      key: "07a060b9b9daccc354affa6be81856d4417472c2",
      client: {
        first_name: user.user.firstname,
        last_name: user.user.lastname,
        email: user.user.email,
        phone: user.user.phone_num
      },
      due_date: "12/30/2016",
      fee_bearer: "client",
      items: [
        {
          item: ".Com Domain Name Registration",
          description: "alberthostpital.com",
          unit_cost: "2500.00",
          quantity: "1"
        }
      ],
      callback: function(response) {
        let ref = response.reference_code;
        confirm(ref,user);
      },
      onClose: function() {
        console.log("Window Closed.");
      }
    });

    handler.openIframe();
  }

  function confirm(ref,user) {
    const data = { reference_code: ref, amount: amount };
    axios
      .post(`${url}/fund`, data, {
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${user.token}`
        }
      })
      .then(res => {
        if (res.data.status === "error") {
          toastr.error(res.data.message);
        } else {
          toastr.success(res.data.message);
        }
      })
      .catch(err => {
        console.log(err);
      });
  }
</script>

<style>

</style>

<svelte:head>
  <title>Buy Airtime - Company Name</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-md-3" />
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fund Wallet</h4>
          </div>
          <form on:submit|preventDefault={pay}>

            <div class="card-body">

              <div class="form-group">
                <label>Amount</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="₦5,000"
                  bind:value={amount} />
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-block" disabled={!valid}>
                  Fund Wallet
                </button>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="col-md-3" />
      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
