<script>
  import { scale } from "svelte/transition";
  import User from "../../store.js";
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header,CHECK_AUTH } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";
  import swal from "sweetalert";

  let amount = "";
  $: validAmount = !isEmpty(amount);
  $: valid = validAmount;

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    // console.log("airtime");
  });

  function pay() {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    const unit = Math.floor(amount);

    var handler = Payant.invoice({
      key: "4246cbb8ff7ede7ab33b76f4f6c06c4a4488b8c5",
      client: {
        first_name: user.user.firstname,
        last_name: user.user.lastname,
        email: user.user.email,
        phone: user.user.phone_num
      },
      due_date: "8/5/2019",
      fee_bearer: "account",
      items: [
        {
          item: "Tele-host Funding",
          description: "Telehost Wallet Funding",
          unit_cost: amount,
          quantity: "1"
        }
      ],
      callback: function(response) {
        let ref = response.reference_code;
        confirm(ref, user);
      },
      onClose: function() {
        // console.log("Window Closed.");
      }
    });

    handler.openIframe();
  }

  function confirm(ref, user) {
    const data = { reference_code: ref, amount: amount };
    axios
      .post(`${url}/fund`, data, {
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${user.token}`
        }
      })
      .then(res => {
        if (res.data.status === "error") {
          notifications.danger(res.data.message);
        } else {
          localStorage.removeItem("currentUser");
          localStorage.currentUser = JSON.stringify({
            token: user.token,
            user: user.user,
            wallet: user.wallet + amount
          });
          swal({ text: res.data.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 3000);
        }
      })
      .catch(err => {
        // console.log(err);
      });
  }
</script>

<style>
  .tabs {
    background: #2980b9;
    width: 100%;
    padding: 20px 15px;
    color: #fff;
    display: flex;
  }
</style>

<svelte:head>
  <title>Buy Airtime - Company Name</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-md-3" />
      <div class="col-md-6">
        <div class="card">
          <p class="tabs">Fund Wallet</p>
          <form on:submit|preventDefault={pay}>

            <div class="card-body">

              <div class="form-group">
                <label>Amount</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="₦5,000"
                  bind:value={amount} />
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-block" disabled={!valid}>
                  Fund Wallet
                </button>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="col-md-3" />
      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
