<script>
  import { onMount } from "svelte";
  // import toastr from 'toastr'
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import { scale } from "svelte/transition";
  import { isEmpty } from "../../helpers/validation.js";
  import { url, header, GET_SMS, CHECK_AUTH } from "../config.js";
  import swal from "sweetalert";

  let sms = [];

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    GET_SMS(user.token).then(res => (sms = res.data));
    setTimeout(() => {
      jQuery(document).ready(function($) {
        $("#example").DataTable({
          destroy: true,
          order: [[3, "desc"]]
        });
        // console.log("made");
      });
    }, 3000);
  });
  const checke = Array.isArray(sms);
  if (!checke) {
    setTimeout(() => {
      swal({ text: "No sms found", icon: "error" });
    }, 1000);
  }
</script>

<style>
  .alert {
    margin: 20px 30px;
  }
</style>

<svelte:head>
  <title>Sms - Telehost</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sms Count</h4>

          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table display" style="width:100%">
                <thead>
                  <tr>
                    <th>Reciever</th>
                    <th>Message</th>
                    <th>Status</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  {#if Array.isArray(sms)}
                    {#each sms as item}
                      <tr>
                        <td class="text-uppercase">{item.reciever}</td>
                        <td>{item.message}</td>
                        <td>
                          {#if item.status === 0}
                            <label class="badge badge-danger">Pending</label>
                          {:else if item.status === 1}
                            <label class="badge badge-success">Sent</label>
                          {/if}
                        </td>
                        <td>{item.created_at}</td>
                      </tr>
                    {/each}
                  {:else}
                    <div class="alert alert-dark btn-block">
                      <p>No SMS Found</p>
                    </div>
                  {/if}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
