<script>
  import { onMount } from "svelte";
  import { scale } from "svelte/transition";
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header, BUY_SIM } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";

  export let holderSpecial = [];
  export let holderRegular = [];
  let selected = "special";

  onMount(() => {
    goto("/");
    const user = JSON.parse(localStorage.getItem("currentUser"));

    axios
      .get(`${url}/get-sims`, { headers: header(user.token) })
      .then(res => {
        holderSpecial = [...res.data.special.data];
        holderRegular = [...res.data.regular.data];
      })
      .catch(err => {
        // console.log(err);
      });
  });

  function pay(type, number, network) {
    const data = { type, number, network, amount: 500 };
    const user = JSON.parse(localStorage.getItem("currentUser"));
    if (confirm(`Are you sure you want to buy sim, it cost ${data.amount}?`)) {
      axios
        .post(`${url}/buy-sim`, data, { headers: header(user.token) })
        .then(res => {
          if (res.data.status === "200") {
            localStorage.removeItem("currentUser");
            localStorage.currentUser = JSON.stringify({
              token: user.token,
              user: user.user,
              wallet: user.wallet - 500
            });
            toastr.success(res.data.message);
            setTimeout(() => {
              window.location.reload();
            }, 3000);
          }

          if (res.data.status === "error") {
            toastr.error(res.data.message);
          }
          // console.log(res);
        })
        .catch(err => {
          // console.log(err);
        });
    } else {
      toastr.error("Sim not purchased...");
    }
  }
</script>

<style>
  .tabs {
    background: #2980b9;
    width: 100%;
    padding: 20px 15px;
    color: #fff;
    display: flex;
  }
</style>

<svelte:head>
  <title>Buy Sim - TeleHost</title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <p class="tabs">Buy New Sim</p>
          <div class="card-body">
            
            <button
              class={selected === 'special' ? 'btn btn-info' : 'btn btn-succes'}
              on:click={() => (selected = 'special')}>
              Special Sim
            </button>
            <button
              class={selected === 'regular' ? 'btn btn-info' : 'btn btn-succes'}
              on:click={() => (selected = 'regular')}>
              Regular Sim
            </button>

          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table" >
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Network</th>
                  </tr>
                </thead>
                <tbody>
                  {#if selected === 'special'}
                    {#each holderSpecial as item}
                      <tr>
                        <td>{item.type}</td>
                        <td>{item.number}</td>
                        <td>
                          {#if item.network === 'airtel'}
                            <label class="badge badge-danger">
                              {item.network}
                            </label>
                          {:else if item.network === 'mtn'}
                            <label class="badge badge-warning">
                              {item.network}
                            </label>
                          {:else if item.network === 'glo'}
                            <label class="badge badge-success">
                              {item.network}
                            </label>
                          {:else if item.network === '9mobile' || 'etisalat'}
                            <label class="badge badge-success">
                              {item.network}
                            </label>
                          {/if}
                        </td>
                        <td>
                          <button
                            class="btn btn-dark"
                            on:click={() => pay(item.type, item.number, item.network)}>
                            Buy Sim
                          </button>
                        </td>
                      </tr>
                    {/each}
                  {:else if selected === 'regular'}
                    {#each holderRegular as item}
                      <tr>
                        <td>{item.type}</td>
                        <td>{item.number}</td>
                        <td>
                          {#if item.network === 'airtel'}
                            <label class="badge badge-danger">
                              {item.network}
                            </label>
                          {:else if item.network === 'mtn'}
                            <label class="badge badge-warning">
                              {item.network}
                            </label>
                          {:else if item.network === 'glo'}
                            <label class="badge badge-success">
                              {item.network}
                            </label>
                          {:else if item.network === '9mobile' || 'etisalat'}
                            <label class="badge badge-success">
                              {item.network}
                            </label>
                          {/if}
                        </td>
                        <td>
                          <button
                            class="btn btn-dark"
                            on:click={() => pay(item.type, item.number, item.network)}>
                            Buy Sim
                          </button>
                        </td>
                      </tr>
                    {/each}
                  {/if}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <h2>Sims</h2>

      </div>
      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
