<script>
  import { fly } from "svelte/transition";
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";
  let firstname = "";
  let lastname = "";
  let email = "";
  let number = "";
  let password = "";
  let token;
  let errors;
  let countries = [];
  let selectedCountry = 'Nigeria';
  
  let isLoggedIn;

  $: console.log(selectedCountry);

  $: firstnameValid = !isEmpty(firstname);
  $: lastnameValid = !isEmpty(lastname);
  $: emailValid = !isEmpty(email);
  $: numberValid = !isEmpty(number);
  $: passwordValid = !isEmpty(password);


  $: valid = 
      firstnameValid &&
      lastnameValid &&
      emailValid &&
      numberValid &&
      passwordValid;

  onMount(() => {
    if (localStorage.currentUser) {
      const user = JSON.parse(localStorage.getItem("currentUser"));
      const token = user.token;
    }
    if (token) {
      isLoggedIn = true;
      goto("/");
    }

    fetch(`${url}/auth/countries`)
     .then((resp) => resp.json()) // Transform the data into json
      .then(function(data) {
          countries = data.data;
        })

  });


  function register() {
    const data = {firstname,lastname,email,country:selectedCountry,phone_num: number,password};

    axios
      .post(`${url}/auth/signup`, data, header)
      .then(res => {
        // console.log(res)
        if (res.data.status == "ok") {
          goto('/login')
        }
      })
      .catch(error => {
        errors = error;
        // console.log(errors)
      });


    // console.log(data);
  }

 


</script>

<style>
  h4 {
    font-weight: lighter;
  }
</style>

<svelte:head>
  <title>Register - TeleHost</title>
</svelte:head>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div
      class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div
            class="auto-form-wrapper"
            transition:fly={{ y: 200, duration: 2000 }}>
            <h4>
              Create An Account for
              <span>Free</span>
              !
            </h4>
            <form on:submit|preventDefault={register}>
              {#if errors}
                <div class="alert alert-danger">

                  <p>{errors}</p>

                </div>
              {/if}
              <div class="form-group">
                <label class="label">Firstname</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bind:value={firstname}
                    placeholder="Gabriel" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Lastname</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bind:value={lastname}
                    placeholder="Okunola" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Email</label>
                <div class="input-group">
                  <input
                    type="email"
                    class="form-control"
                    bind:value={email}
                    placeholder="telehost@dev.com" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Phone Number</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bind:value={number}
                    placeholder="000 0000 000" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>

             <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Country</label>
                    <select class="form-control form-control-lg" bind:value={selectedCountry}>
                     <option value="Nigeria">Nigeria</option>
                    {#each countries as country}
                        <option value={country}>{country}</option>
                    {/each}
                            
                    </select>
                  </div>
              
              <div class="form-group">
                <label class="label">Password</label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    bind:value={password}
                    placeholder="+234 000 0000 000" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-check form-check-flat mt-0">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked />
                  I agreed to term & conditions!
                </label>
              </div>

              <div class="form-group">
                <button class="btn btn-primary submit-btn btn-block" disabled={!valid}>
                  Create Account
                </button>
              </div>
            </form>

            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">
                I have an account?
              </span>
              <a href="/login" class="text-black text-small">Login</a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
