<script>
  import { onMount } from "svelte";
  import TextInput from "./UI/TextInput.svelte";
  import { isEmpty, isValidEmail } from "../helpers/validation.js";
  import axios from "axios";

  let token;
  let firstname = "";
  let middlename = "";
  let lastname = "";
  let email = "";
  let address = "";
  let phone_num = "";
  let dob = "";
  let gender = "";
  let errors;

  onMount(() => {
    token = localStorage.getItem("token");
  });

  $: firstnameValid = !isEmpty(firstname);
  $: middlenameValid = !isEmpty(middlename);
  $: lastnameValid = !isEmpty(lastname);
  // $: emailValid = !isValidEmail(email);
  $: addressValid = !isEmpty(address);
  $: phone_numValid = !isEmpty(phone_num);
  $: dobValid = !isEmpty(dob);
  $: genderValid = !isEmpty(gender);
  $: formIsValid =
    firstnameValid &&
    middlenameValid &&
    lastnameValid &&
    addressValid &&
    dobValid &&
    genderValid &&
    phone_numValid;

  function create() {
    const data = {
      firstname,
      lastname,
      middlename,
      email,
      address,
      phone_num,
      dob,
      gender
    };

    const header = {
      Authorization: `Bearer ${token}`,
      "Content-Type": "application/json"
    };

    console.log(header);

    const url = "http://fatfree-master.test/api/createcustomer";

    axios
      .post(url, data, header)
      .then(res => {
        let error = res.data.error;
        if (error) {
          errors = res.data.error.message;
          console.log(error);
        } else {
          console.log(res);
        }
      })
      .catch(error => {
        console.log(error);
      });

    console.log(data);
  }
</script>

<div class="page-content">
  <div class="container compress">
    <div class="row">
      <div class="col-lg-12">
        <div class="content-area card">
          <div class="card-innr card-innr-fix">
            <div class="card-head">
              <h6 class="card-title">Customer Form</h6>
            </div>
            <div class="gaps-1x" />
            <!-- .gaps -->
            <form on:submit|preventDefault={create}>
              {#if errors}
                <div class="alert alert-danger">

                  <p>{errors}</p>

                </div>
              {/if}
              <div class="row">
                <div class="col-md-6">

                  <TextInput
                    type="text"
                    label="First Name"
                    value={firstname}
                    valid={firstnameValid}
                    validityMessage="Please, enter a valid firstname."
                    on:input={event => (firstname = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="text"
                    label="Middle Name"
                    value={middlename}
                    valid={middlenameValid}
                    validityMessage="Please, enter a valid middlename."
                    on:input={event => (middlename = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="text"
                    label="Last Name"
                    value={lastname}
                    valid={lastnameValid}
                    validityMessage="Please, enter a valid lastname."
                    on:input={event => (lastname = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="email"
                    label="Your Email"
                    value={email}
                    on:input={event => (email = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="text"
                    label="Your Address"
                    value={address}
                    valid={addressValid}
                    validityMessage="Please, enter a valid address."
                    on:input={event => (address = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="text"
                    label="Phone No"
                    value={phone_num}
                    valid={phone_numValid}
                    validityMessage="Please, enter a valid phone number."
                    on:input={event => (phone_num = event.target.value)} />
                </div>
                <div class="col-md-6">
                  <label class="input-item-label text-exlight">Gender</label>
                  <select class="input-bordered" bind:value={gender}>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <TextInput
                    type="date"
                    label="Date of Birth"
                    value={dob}
                    valid={dobValid}
                    validityMessage="Please, enter a valid date of birth."
                    on:input={event => (dob = event.target.value)} />
                </div>
                <div class="col-lg-12">
                  <div class="input-item input-with-label">
                    <label class="input-item-label">
                      Drag and drop Image to uplaod
                    </label>
                    <div class="upload-zone dropzone dz-clickable">
                      <div class="dz-message" data-dz-message="">
                        <span class="dz-message-text">Drag and drop file</span>
                        <span class="dz-message-or">or</span>
                        <button
                          class="btn btn-sm btn-primary"
                          on:click|preventDefault>
                          Choose a File
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="gaps-1x" />
              <button class="btn btn-primary" disabled={!formIsValid}>
                Send Message
              </button>
            </form>
          </div>
          <!-- .card-innr -->
        </div>
        <!-- .card -->
      </div>

    </div>
    <!--- row -->
  </div>
  <!-- .container -->
</div>
<!-- .page-content -->
