<script>
  import User from ".././store.js";
  import { scale } from "svelte/transition";
  import { onMount } from "svelte";
  import axios from "axios";
  import Loader from "../routes/_loader.svelte";
  import { url, header, CHECK_AUTH } from "../routes/config.js";

  let isLoading = true;
  // let dashboard = [];
  let dashboard = [];
  let recent = [];

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    const token = user.token;
    CHECK_AUTH(token);
    axios(`${url}/dashboard`, { headers: header(user.token) })
      .then(res => {
        // console.log(res.data.recent_trans.data);
        dashboard = res.data;
        recent = res.data.recent_trans.data;
        setTimeout(() => {
          isLoading = false;
        }, 1000);
      })
      .catch(err => {
        console.log(err.message);
      });
  });
</script>

<style>

</style>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    {#if isLoading}
      <!-- <img class="compress" src="../images/loader.gif" alt="loading"> -->
      <Loader />
    {:else}
      <div class="row" transition:scale>
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-statistics">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <!-- <i class="mdi mdi-cube text-danger icon-lg" /> -->
                  <img
                    class="text-info icon-lg"
                    src="./images/svg/purse.svg"
                    alt="sms" />
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Wallet Balance</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">
                      {$User.country === 'Nigeria' ? '₦' : '$'}
                      {dashboard.wallet}
                    </h3>
                  </div>
                </div>
              </div>
              <p class="text-muted mt-3 mb-0">
                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" />
                <!-- 65% lower growth -->
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-statistics">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <img
                    class="text-info icon-md"
                    height="80px !important"
                    src="./images/svg/sim-card.svg"
                    alt="sms" />

                  <!-- <i class="mdi mdi-receipt text-warning icon-lg" /> -->
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Routes</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">
                      {dashboard.devices}
                    </h3>
                  </div>
                </div>
              </div>
              <!-- <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true" />
              Product-wise sales
            </p> -->
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-statistics">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <!-- <i class="mdi mdi-poll-box text-success icon-lg" /> -->
                  <img
                    class="text-info icon-lg"
                    src="./images/svg/sms.svg"
                    alt="sms" />

                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Sms</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">
                      {dashboard.sms}
                    </h3>
                  </div>
                </div>
              </div>
              <!-- <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-calendar mr-1" aria-hidden="true" />
              Weekly Sales
            </p> -->
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-statistics">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <!-- <i class="mdi mdi-account-location text-info icon-lg" /> -->
                  <img
                    class="text-info icon-lg"
                    src="./images/svg/USSD.svg"
                    alt="ussd" />
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Ussd</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">
                      {dashboard.ussd}
                    </h3>
                  </div>
                </div>
              </div>
              <!-- <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-reload mr-1" aria-hidden="true" />
              Product-wise sales
            </p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7 grid-margin stretch-card">
          <!--weather card-->
          <!-- <div class="card card-weather">
          <div class="card-body">
            <div class="weather-date-location">
              <h3>Monday</h3>
              <p class="text-gray">
                <span class="weather-date">25 October, 2016</span>
                <span class="weather-location">London, UK</span>
              </p>
            </div>
            <div class="weather-data d-flex">
              <div class="mr-auto">
                <h4 class="display-3">
                  21
                  <span class="symbol">&deg;</span>
                  C
                </h4>
                <p>Mostly Cloudy</p>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="d-flex weakly-weather">
              <div class="weakly-weather-item">
                <p class="mb-0">Sun</p>
                <i class="mdi mdi-weather-cloudy" />
                <p class="mb-0">30°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Mon</p>
                <i class="mdi mdi-weather-hail" />
                <p class="mb-0">31°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Tue</p>
                <i class="mdi mdi-weather-partlycloudy" />
                <p class="mb-0">28°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Wed</p>
                <i class="mdi mdi-weather-pouring" />
                <p class="mb-0">30°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Thu</p>
                <i class="mdi mdi-weather-pouring" />
                <p class="mb-0">29°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Fri</p>
                <i class="mdi mdi-weather-snowy-rainy" />
                <p class="mb-0">31°</p>
              </div>
              <div class="weakly-weather-item">
                <p class="mb-1">Sat</p>
                <i class="mdi mdi-weather-snowy" />
                <p class="mb-0">32°</p>
              </div>
            </div>
          </div>
        </div> -->

          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table display" style="width:100%">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {#if Array.isArray(recent)}
                      {#each recent as item}
                        <tr>
                          <td class="text-uppercase">
                            {#if item.transaction_type === 'activation'}
                              Route {item.transaction_type}
                            {:else if item.transaction_type === 'funding'}
                              Wallet {item.transaction_type}
                            {:else if item.transaction_type === 'topup'}
                              Airtime {item.transaction_type}
                            {:else if item.transaction_type === 'sim'}
                              {item.transaction_type} purchase
                            {/if}
                          </td>
                          <td>
                            {$User.country === 'Nigeria' ? '₦' : '$'}{item.amount}
                          </td>
                          <td>
                            {#if item.status === 0}
                              <label class="badge badge-danger">Pending</label>
                            {:else if item.status === 1}
                              <label class="badge badge-success">
                                Approved
                              </label>
                            {/if}
                          </td>
                          <td>{item.created_at}</td>
                        </tr>
                      {/each}
                    {:else}
                      <div class="alert alert-dark btn-block">
                        <p>No Transactions Found</p>
                      </div>
                    {/if}

                  </tbody>

                </table>
              </div>
            </div>

          </div>
          <!--weather card ends-->
        </div>
        <div class="col-lg-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-primary mb-5">Performance History</h2>
              <div class="wrapper d-flex justify-content-between">
                <div class="side-left">
                  <p class="mb-2">The best performance</p>
                  <p class="display-3 mb-4 font-weight-light">+45.2%</p>
                </div>
                <div class="side-right">
                  <small class="text-muted">2017</small>
                </div>
              </div>
              <div class="wrapper d-flex justify-content-between">
                <div class="side-left">
                  <p class="mb-2">Worst performance</p>
                  <p class="display-3 mb-5 font-weight-light">-35.3%</p>
                </div>
                <div class="side-right">
                  <small class="text-muted">2015</small>
                </div>
              </div>
              <div class="wrapper">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Sales</p>
                  <p class="mb-2 text-primary">88%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-primary progress-bar-striped
                    progress-bar-animated"
                    role="progressbar"
                    style="width: 88%"
                    aria-valuenow="88"
                    aria-valuemin="0"
                    aria-valuemax="100" />
                </div>
              </div>
              <div class="wrapper mt-4">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Visits</p>
                  <p class="mb-2 text-success">56%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-success progress-bar-striped
                    progress-bar-animated"
                    role="progressbar"
                    style="width: 56%"
                    aria-valuenow="56"
                    aria-valuemin="0"
                    aria-valuemax="100" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {/if}
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="container-fluid clearfix">
      <span
        class="text-muted d-block text-center text-sm-left d-sm-inline-block">
        Copyright © 2019
        <a href="." target="_blank">Telehost</a>
        . All rights reserved.
      </span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
        Hand-crafted & made with
        <i class="mdi mdi-heart text-danger" />
        by AroicX
      </span>
    </div>
  </footer>
  <!-- partial -->
</div>
