<script>
  import { scale } from "svelte/transition";
  import { onMount } from "svelte";
  import User from "../../store.js";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header, buy, CHECK_AUTH, GET_WALLET } from "../config.js";
  import { isEmpty } from "../../helpers/validation.js";
  import swal from "sweetalert";

  let wallet = '';

  onMount(() => {
    const user = JSON.parse(localStorage.getItem("currentUser"));
    CHECK_AUTH(user.token);
    GET_WALLET(user.token).then(res => { wallet = res.data.balance});
    // console.log('airtime')
  });

  let valid = false;
  let toggle;

  let amount = "";
  let network = "Airtel";
  let number = "";

  $: validAmount = !isEmpty(amount);
  $: validNetwork = !isEmpty(network);
  $: validNumber = !isEmpty(number);

  $: valid = validAmount && validNetwork && validNumber;

  function pay() {
    let code = null;
    switch (network) {
      case "Airtel":
        code = 6;
        break;
      case "Mtn":
        code = 7;
        break;
      case "Glo":
        code = 8;
        break;
      case "9mobile":
        code = 9;
        break;

      default:
        break;
    }

    const data = { amount, service_category_id: code, phonenumber: number };
    const user = JSON.parse(localStorage.getItem("currentUser"));
    // console.log(wallet);
    const check = parseInt(wallet) < parseInt(amount);
    // console.log(check);

    if (parseInt(wallet) < parseInt(amount)) {
      swal({ text: "Insufficient Fund", icon: "warning" });
      return false;
    } else {
      axios
        .post(`https://api.myflex.ng/bills/pay/airtime`, data, {
          headers: buy(
            "12632008c3b59e037f2e761675c88296e146add6240cb9d35ec6366041238417ea833675ce168e34a852457224a827a0ff2e723a95ae682458c6ef4baee2118c71"
          )
        })
        .then(res => {
          if (res.data.status === "error") {
            swal({ text: res.data.message, icon: "warning" });
          } else {
            const debit = { amount: amount };
            axios
              .post(`${url}/buy-airtime`, debit, {
                headers: header(user.token)
              })
              .then(res => {
                if (res.data.status === "error") {
                  swal({ text: res.data.message, icon: "warning" });
                } else {
                  swal({ text: res.data.message, icon: "success" });
                }
              })
              .catch(err => {
                // console.log(err);
              });
          }
        })
        .catch(err => {
          // console.log(err);
        });
    }
  }
</script>

<style>
  .tabs {
    background: #2980b9;
    width: 100%;
    padding: 20px 15px;
    color: #fff;
    display: flex;
  }
</style>

<svelte:head>
  <title>Buy Airtime </title>
</svelte:head>

<div class="main-panel" transition:scale>
  <div class="content-wrapper">
    <div class="row purchace-popup">
      <div class="col-12" />
    </div>
    <div class="row">
      <div class="col-md-3" />
      <div class="col-md-6">
        <div class="card">
          <p class="tabs">Buy Airtime</p>
          <div class="card-body">

            <div class="form-check form-check-flat">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  bind:checked={toggle} />
                Recharge others
                <i class="input-helper" />
              </label>
            </div>

          </div>
          <form on:submit|preventDefault={pay}>
            {#if !toggle}
              <div class="card-body">

                <div class="form-group">
                  <label for="exampleFormControlSelect1">
                    Select Network select
                  </label>
                  <select
                    class="form-control form-control-lg"
                    bind:value={network}>
                    <option value="Airtel">Airtel Airtime</option>
                    <option value="Mtn">MTN Airtime</option>
                    <option value="Glo">GLO Airtime</option>
                    <option value="9mobile">9Mobile Airtime</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select Number</label>
                  <select
                    class="form-control form-control-lg"
                    bind:value={number}>
                    <option>Select Number</option>
                    <option value={$User.phone_num}>{$User.phone_num}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Amount</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="₦5,000"
                    aria-label="Username"
                    bind:value={amount} />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" disabled={!valid}>
                    Pay with Wallet
                  </button>
                </div>
              </div>
            {:else}
              <div class="card-body">
                <h4 class="card-title">Selectize</h4>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">
                    Select Network select
                  </label>
                  <select
                    class="form-control form-control-lg"
                    name="network"
                    bind:value={network}>
                    <option value="Airtel">Airtel Airtime</option>
                    <option value="Mtn">MTN Airtime</option>
                    <option value="Glo">GLO Airtime</option>
                    <option value="9mobile">9Mobile Airtime</option>

                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Enter Number</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="08187833885"
                    bind:value={number} />
                </div>
                <div class="form-group">
                  <label>Amount</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="₦5,000"
                    bind:value={amount} />
                </div>
                <div class="form-group">
                  <button class="btn btn-dark btn-block" disabled={!valid}>
                    Pay with Wallet
                  </button>
                </div>
              </div>
            {/if}
          </form>

        </div>
      </div>
      <div class="col-md-3" />
      <!--row-->
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
