<script>

  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import axios from "axios";
  import { url, header } from "../config.js";

  
  let email = "";
  let password = "";
  let token;
  let errors;

  function login() {
    const data = { login: email, password };
    //console.log(data);

    axios
      .post(`${url}/auth/login-web`, data, header)
      .then(res => {
        if (res.data.status == "ok") {
          const wallet = res.data.user["wallet_balance"];
          const user = res.data.user[0];
          localStorage.currentUser = JSON.stringify({
            token: res.data.token,
            user: user,
            wallet: wallet
          });

          if (localStorage.currentUser) {
            goto("/");
            setTimeout(() => {
              window.location.reload();
            }, 0);
          } else {
            return false;
          }
          // console.log(localStorage.getItem('currentUser'));
        }
      })
      .catch(error => {
        errors = "Invalid Email or Password";
      });
  }

  let isLoggedIn;

  onMount(() => {
    if (localStorage.currentUser) {
      const user = JSON.parse(localStorage.getItem("currentUser"));
      const token = user.token;
    }

    if (token) {
      isLoggedIn = true;
      goto("/");
    }
  });
</script>

<style>

</style>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div
      class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div
            class="auto-form-wrapper"
            >
            <form on:submit|preventDefault={login}>
              {#if errors}
                <div class="alert alert-danger">

                  <p>{errors}</p>

                </div>
              {/if}
              <div class="form-group">
                <label class="label">Email</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    bind:value={email}
                    placeholder="Email" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Password</label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    bind:value={password}
                    placeholder="*********" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary submit-btn btn-block">
                  Login
                </button>
              </div>
            </form>
            <div class="form-group d-flex justify-content-between">
              <div class="form-check form-check-flat mt-0">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked />
                  Keep me signed in
                </label>
              </div>
              <a
                href="."
                on:click|preventDefault
                class="text-small forgot-password text-black">
                Forgot Password
              </a>
            </div>
            
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">
                Don't have an account?
              </span>
              <a href="/register" class="text-black text-small">
                Create new account
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
