<script>

    export let caption;
    export let style;
    export let disabled = false;


</script>


<style>
     .custom{
    background: #ED4C67;
   
  }

  .btn:focus,.btn:active,.btn:hover{outline: none;}
</style>
<button class={style} on:click disabled={disabled}>{caption}</button>