<script>
  import { createEventDispatcher } from "svelte";
  //import Toastr from './Toastr.svelte'

  const dispatch = createEventDispatcher();

  function callToast(message) {
      console.log('fired')
      
        toastr.options = {
          closeButton: true,
          debug: false,
          newestOnTop: false,
          progressBar: false,
          positionClass: "toast-top-right",
          preventDuplicates: true,
          showDuration: "1000",
          hideDuration: "10000",
          timeOut: "2000",
          extendedTimeOut: "1000"
        };
        toastr.info(message);
      
    
  }
</script>

<style>

</style>


<!-- .topbar-wrap -->
