<script>
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
  export let className = null;

 

  function callToast(elem) {
    dispatch("toast");
    if (elem.length > 0) {
      toastr.clear();
      toastr.options = {
        closeButton: true,
        debug: false,
        newestOnTop: false,
        progressBar: false,
        positionClass: "toast-bottom-center",
        preventDuplicates: true,
        showDuration: "1000",
        hideDuration: "10000",
        timeOut: "2000",
        extendedTimeOut: "1000"
      };
      toastr.info("This is a note for Info message on Bottom Center");
    }
  }
  
</script>

<style>

</style>

<div class={className} onclick={callToast}>
  <slot />
</div>
